@font-face {
    font-family: "Press";
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
}


body {
    background-color: #A1ACFE;
}

#cards {
    position: relative;
    transition: all 1s;
}

.elements {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-bottom: 50px;
}

.element {
    cursor: pointer;
    width: 20%;
    padding: 5px;
    img {
        transition: all 1.5s;
        width: 100%;
        padding: 10px;
        box-shadow: 2px 2px 3px -1px rgba(0,0,0,0.55);
    }
}

.nope {
    background-color: red;
}

.win {
    background-color: rgba(191, 249, 106, 0.769);
}

.warning {
    background-color: orange;
}

#game-over {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    width:80%;
    height: 57%;
    margin: auto;
    img {
        width: 100%;
        border-radius: 15px;
    }
}

#scores {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    height: 60px;
    margin: 15px 0;

    h1 {
        color: #E75910
    }

    p {
        color: #F6E5CD;
        font-size: 20px;
    }
}

footer {
    #pre-footer {
        background-image: url('./../assets/img/brique.png');
        background-repeat: repeat;
        height: 100px;
    }
    p {
        background-color: #F6E5CD;
        margin-bottom: 0;
        padding: 2px 0;
        text-align: center;
    }
    
}

@media screen and (max-width: 1024px) {
    #scores {    
        h1 {
            font-size: 2rem;
        }
    
        p {
            font-size: 15px;
        }
    }
}

@media screen and (max-width: 768px) {
    #scores {
        flex-direction: column;
        height: 100px;
        align-items: center;
        height: 130px;
    }

    footer {
        p {
            font-size: 0.75rem;
        }
    }
}

@media screen and (max-width: 375px) {
    #scores {
        h1 {
            font-size: 1.5rem;
        }
    }
}